/* Shared Styles */

*{
 
 font-family: "Work Sans", sans-serif;
}
main,header{
  margin: 0  150px;
}
.btn-primary,.btn-secondary{
  background-color:rgb(246, 9, 136);
  border-radius: 50px;
  padding: 10px 30px;
  font-weight: 700;
  border: none;
  color:#FFF;
  justify-content: center;
  align-items: center;
}
.btn-secondary{
  background-color:#4EC5F7; 
}
.span-gradient-letter,.gamer-title,.funny-title{
  font-size: 30px !important;
  font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* nav section */
.header-nav-section{
  display: flex;
  justify-content: space-between;
}
.header-nav-section-left{
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-nav-section-right>ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header-nav-section-right li{
  list-style: none;
}
a{
  color: #3C354F;
  text-decoration: none;
text-align: center;
font-size: 18px;
font-weight: 500;
}
 .youtube{
  color:red;
 }
 /* banner style started */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner img{
  width: 50%;
}
.banner p{
  font-size: 18px;
font-weight: 500;
color:#534C64
}
/* Gamer section started */
.gamer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.gamer img{
  width: 80%;
}
.gamer-content{
  text-align: right;
  width: 60%;
}
.gamer-description{
  font-size: 15px;
  color:#534C64;
}
.gamer-everyone{
  font-size: 20px;
  color: #534C64;
}
.videos{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 10px;
}

.online-game{
  text-align: center;
  gap: 10px;
  
}
.online-game>div>div>p{
  color:#534C64;
  font-size: 12px;
}
.play-instantly{
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.play-instantly-reverse{
  display: flex;
  gap: 50px;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.play-instantly-content{
  text-align: right;
font-size: 18px;

}
.play-instantly-content p{
  font-size: 14px;
}
.play-instantly-img{
  background-image: url(./images/Rectangle\ 55.png);
  width: 50%;
  height: 100vh;
  background-repeat: no-repeat;
}

.play-instantly-img-div2{
  background-image: url(./images/Rectangle\ 67.png);
  width: 50%;
  height: 100vh;
  background-repeat: no-repeat;
}
.play-instantly-img-2{
  position: relative;
  top: 400px;
  right: 100px;
}

.activities-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.activity{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:5px;
  flex-wrap: wrap;
  margin: 10px;

}
.activity:hover{
  border:1px solid #F948B2;
  border-radius: 60px;
}
.activity img{
  width: 50px;
  height: 50px;

}

/* careers section started */
.careers{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F948B2;
  color:white;
  border-radius: 10px;
  padding: 10px;
}
.careers-title{
  font-size: 30px;
  margin-bottom: 10px;
}

.careers-subcontent{
  display: flex;
  justify-content: space-between;
  margin-top: 30px; 
   margin-bottom: 20px;
}
.career-img{
  width: 40%;
}

.career-img img{
  width: 90%;
}



/* footer styles */
.footer{
  background-color: #0B0223;
  text-align: center;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  
}
.footer-title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:15px
}
.footer-description ul{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 10px;
  margin-top: 30px;

}
.footer-description>ul>li{
  list-style: none;
}
/* footer styles ends */

 /* media query for mobile screen */
 @media screen and (max-width:576px) {
  
  main,header{
    margin: 0  0px;
  }
  
  .header-nav-section,.header-nav-section-right>ul{
    flex-direction: column;

  }
  .header-nav-section-left{
    justify-content: center;
  }
  .banner{
    flex-direction: column-reverse;
  }
  .banner-content{
    text-align: center;
  }
  .gamer{
    display: flex;
    flex-direction: column;
  }
  .gamer-content{
    text-align: center;
  }
  .gamer img{
    width: 100%;
  }
  .videos{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .play-instantly{
    flex-direction: column;
    width: 100%;
  }
  .play-instantly-img-2{
    width: 40%;
    right: 5px;
    bottom: 10px;
  }
  .play-instantly-content{
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .play-instantly-img,.play-instantly-img-div2{
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .activities-section{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,90px);
  
  }
  .activity{
    font-size:12px;
  }
 
  .careers{
    flex-direction: column;

  }
  .career-img>img{
    width: 200%;
  }



  .footer{
    margin-top: 60px;
  }
  
 
 }